@import "settings";
@import "shared";

.contact_us {
  @include flex-center;
  height: 100vh;
  padding-top: $page-pad;
}
.card {
  animation: scaleIn 300ms ease-in-out;
  min-width: 60%;
  min-height: 50%;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  padding: 5rem;
  background-image: linear-gradient(
    to right bottom,
    $primary,
    lighten($primary, 20%)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.small {
  color: #fff;
  opacity: 0.6;
  font-size: 1rem;
}
.title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}
.social {
  margin-top: 3rem;
}
