@import 'shared.scss';
@import 'settings.scss';
.page {
  position: relative;
  min-height: 200vh;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-family: 'Raleway';
}
.description {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: #eee;
  font-weight: 400;
  font-family: 'Raleway';
}
.bg {
  height: 70vh;
  padding-top: $page-pad;
  background-image: linear-gradient(
    to right bottom,
    $primary,
    lighten($primary, 10%)
  );
  @include flex-center();
  flex-direction: column;
}
