@import "settings.scss";
@import "shared";

.page {
  height: $full-height;
  @include flex-center;
  flex-direction: column;
}
.ghost {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.title {
  margin-top: 1rem;
  font-size: 1.5rem;
}