@import 'settings.scss';
@import 'Button';

.navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  min-height: $navbar-height;
  width: 100%;
  display: flex;
  align-items: center;
  color: $white;
  transition: all 500ms ease;
  background: transparent;
}
.scrolled {
  box-shadow: $shadow-1;
  background: $primary;
}
.primary {
  background: $primary;
}
.hide {
  transform: translateY(-100%);
}
.title_box {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.title {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.13);
  text-align: left;
}
.vr {
  margin: 0 0.5rem;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  border: none;
  color: inherit;
  font-family: 'Raleway';
  font-weight: 400;
  opacity: 0.7;
  margin: 0 0.5rem;
  cursor: pointer;
  &.active {
    font-weight: 700;
    opacity: 1;
  }
}
.user_nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-items: center;
}
.button {
  @include Button($white, $primary);
  margin: 0 0.5rem;
}
.ul {
  padding: 0;
  list-style-type: none;
  display: inline-flex;
}
.li {
}
/* MEDIA QURIES */
@media only screen and (max-width: $bp1) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    padding: 0;
    padding-top: 1rem;
    background-color: darken($primary, 10%);
  }
  .links {
    padding: 1rem;
    margin-top: 1rem;
    order: 3;
    grid-column: 1 / 5;
    grid-row: 3;
  }
  .user_nav {
    padding-right: 2rem;
    grid-column: 3 / 5;
  }
  .title_box {
    padding-left: 2rem;
    grid-column: 1 / 3;
  }
}
