@import "settings.scss";
@import "Button";
.Navbar {
  box-shadow: $shadow-1;
  padding: 1rem 2rem;
  height: $navbar-height;
  background-color: $primary;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr;
  color: $white;
  .title-box {
    display: flex;
    align-items: center;
  }
  .title {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.13);
    text-align: left;
  }
  .vr {
    margin: 0 .5rem;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    .link {
      border: none;
      color: inherit;
      font-family: "Raleway";
      font-weight: 400;
      opacity: 0.7;
      margin: 0 0.5rem;
      &.active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
  .user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-items: center;
    &__Link {
      @include Button($white, $primary);
      margin: 0 0.5rem;
    }
  }
}
